<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make New Order</title>
</head>
<body>
    <form action="/submitOrders" method="post">
        <label for="w_id">Enter name: </label>
        <input
          id="w_id"
          type="number"
          name="warehouseID"
          value="Default name for team." />
        <br>
        <label for = "d_id">Enter </label>
        <input type = "number" id = "d_id">
        <input type="submit" value="OK" />
      </form>
      
</body>
</html>