<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make New Order</title>
</head>
<body>
  <div class="create-blog content">
    <form action="/customer/newOrder" method="POST">
      <label for="title">Name:</label>
      <input type="text" id="title" name="name" required />
      <label for="snippet">Table:</label>
      <input
        type="number"
        min="1"
        max="8"
        id="snippet"
        name="tableNumber"
        required
      />
      <input type="submit" name="submit_button" class="btn btn-primary" value="Add" />
    </form>
  </div>
      
</body>
</html>