<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Order Input</title>
</head>
<style>
    header {
        text-align: center;
        color:blue;
        font-size:50px;
    }
    body {
        center:auto;
        text-align: center;
        background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
    }
    .form_inputs {
        margin: auto;
        width: 100%;
        /* <!--border: 1px solid #333;--> */
        box-shadow: 8px 8px 5px #444;
        padding: 8px 12px;
        background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
    }
    .item_inputs{
        text-align: center;
        align:center;
    }
    table { 
        text-align: center;
        align:center;
        border: 1px solid #333;
        width: 60%;
        margin-left:20%;
        margin-right:20%;
    }
    footer {
        text-align:center;
        background-color: #abbaba;
        color: #000;
}
</style>
<body>
    <!--call the nav.ejs here-->
    <nav>

    </nav>

    <!--call the header.ejs here -->
    <header>
      <h1>TPC-C benchmark with Amazon AWS</h1>
    </header>

    <!--Form to add the order -->
    <main>
        <form action="/newOrder" method="POST">
            <!--first part will be for order headers: warehouse number, district number, customer number -->
            <!--Get the random warehouse id-->
            <label for = "w_id" class = "input_labels">Select Warehouse: </label>
            <input type = "text" name = "w_id" class = "inputs" required>
            <br>
            <label for = "d_id" class = "input_labels">Select District: </label>
            <input type = "text" name = "d_id" class = "inputs" required >
            <br>
            <label for = "c_id" class = "input_labels">Select Customer: </label>
            <input type = "text" name = "c_id" class = "inputs" required>
            <br>
            <!-- second part will be for variable number of items -->
            <table>
                <tr>
                    <th>OL_I_ID</th>
                    <th>OL_SUPPLY_W_ID</th>
                    <th>OL_QUANTITY</th>
                </tr>
                <tr>
                    <td>
                        <input type = "text" class = "inputs" id = "ol_1_id" name = "ol_id[]" required>
                    </td>
                    <td>
                        <input type = "text" class = "inputs" id = "ol_1_wid" name = "ol_wid[]" required>
                    </td>
                    <td>
                        <input type = "text" class = "inputs" id = "ol_1_quantity" name = "ol_quantity[]" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type = "text" class = "inputs" id = "ol_1_id" name = "ol_id[]" required>
                    </td>
                    <td>
                        <input type = "text" class = "inputs" id = "ol_1_wid" name = "ol_wid[]" required>
                    </td>
                    <td>
                        <input type = "text" class = "inputs" id = "ol_1_quantity" name = "ol_quantity[]" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type = "text" class = "inputs" id = "ol_1_id" name = "ol_id[]" required>
                    </td>
                    <td>
                        <input type = "text" class = "inputs" id = "ol_1_wid" name = "ol_wid[]" required>
                    </td>
                    <td>
                        <input type = "text" class = "inputs" id = "ol_1_quantity" name = "ol_quantity[]" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type = "text" class = "inputs" id = "ol_1_id" name = "ol_id[]" required>
                    </td>
                    <td>
                        <input type = "text" class = "inputs" id = "ol_1_wid" name = "ol_wid[]" required>
                    </td>
                    <td>
                        <input type = "text" class = "inputs" id = "ol_1_quantity" name = "ol_quantity[]" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type = "text" class = "inputs" id = "ol_1_id" name = "ol_id[]" required>
                    </td>
                    <td>
                        <input type = "text" class = "inputs" id = "ol_1_wid" name = "ol_wid[]" required>
                    </td>
                    <td>
                        <input type = "text" class = "inputs" id = "ol_1_quantity" name = "ol_quantity[]" required>
                    </td>
                </tr>  
                <tr>
                    <td>
                        <input type = "text" class = "inputs" id = "ol_1_id" name = "ol_id[]" required>
                    </td>
                    <td>
                        <input type = "text" class = "inputs" id = "ol_1_wid" name = "ol_wid[]" required>
                    </td>
                    <td>
                        <input type = "text" class = "inputs" id = "ol_1_quantity" name = "ol_quantity[]" required>
                    </td>
                </tr> 
                <tr>
                    <td>
                        <input type = "text" class = "inputs" id = "ol_1_id" name = "ol_id[]" required>
                    </td>
                    <td>
                        <input type = "text" class = "inputs" id = "ol_1_wid" name = "ol_wid[]" required>
                    </td>
                    <td>
                        <input type = "text" class = "inputs" id = "ol_1_quantity" name = "ol_quantity[]" required>
                    </td>
                </tr> 
                <tr>
                    <td>
                        <input type = "text" class = "inputs" id = "ol_1_id" name = "ol_id[]" required>
                    </td>
                    <td>
                        <input type = "text" class = "inputs" id = "ol_1_wid" name = "ol_wid[]" required>
                    </td>
                    <td>
                        <input type = "text" class = "inputs" id = "ol_1_quantity" name = "ol_quantity[]" required>
                    </td>
                </tr> 
                <tr>
                    <td>
                        <input type = "text" class = "inputs" id = "ol_1_id" name = "ol_id[]" required>
                    </td>
                    <td>
                        <input type = "text" class = "inputs" id = "ol_1_wid" name = "ol_wid[]" required>
                    </td>
                    <td>
                        <input type = "text" class = "inputs" id = "ol_1_quantity" name = "ol_quantity[]" required>
                    </td>
                </tr> 
                <tr>
                    <td>
                        <input type = "text" class = "inputs" id = "ol_1_id" name = "ol_id[]" required>
                    </td>
                    <td>
                        <input type = "text" class = "inputs" id = "ol_1_wid" name = "ol_wid[]" required>
                    </td>
                    <td>
                        <input type = "text" class = "inputs" id = "ol_1_quantity" name = "ol_quantity[]" required>
                    </td>
                </tr>               
            </table>
              <input type="submit" name="submit_button" class="btn btn-primary" value="Perform New Order Transaction" />
        </form>
    </main>

    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
            <p class="col-md-4 mb-0 text-muted">&copy; TPCC Benchmark</p>
            <ul class="nav col-md-4 justify-content-end">
                <p><a href="/" class="nav-link px-2">Home</a><p>
            </ul>
        </footer>
      </div>

    
</body>
</html>