<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Order Result</title>
</head>
<body>
    <!--Call header.ejs here-->

    <!--Call nav.ejs here -->

    <!-- Show the new order results here -->
    <h1>This is result page</h1>
    <%= inputs["w_id"] %>
</body>
</html>